{% extends "base.html" %}

{% block body_block %}
<h2>Login</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Log in" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p>Have no login? <a href="{% url 'registration_register' %}">Easy to get one!</a></p>
{% endblock %}
