{% extends "base.html" %}

{% block body_block %}
<h2>Register here</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}
