<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Questionnaires for all for small and tall</title>
</head>
<body>
    {% if not user.is_authenticated %}
        <a href="{% url 'registration_register' %}">Register</a>
        <a href="{% url 'auth_login' %}">Login</a>
    {% else %}
        {{ user.username }} <a href="{% url 'auth_logout' %}?next={% url 'home' %}">Logout</a>
    {% endif %}
    <h3><a href="/">Questionnaires for all for small and tall =)</a></h3>
    {% if user.is_authenticated %}
    <a href="{% url 'start_new_questionary' %}">Create new questionnaire</a>
    {% endif %}

    {% block body_block %}
    {% endblock %}

</body>
</html>