{% extends "base.html" %}

{% block body_block %}
    <h3>Look what questionnaires we do have:</h3>

    <table>
    <tr>
        <td>Title</td>
        <td>Owner</td>
        <td>Rating</td>
        <td>Author rating</td>
    </tr>
    {% for quest in object_list %}
        <tr>
            <td><a href="{% url 'questionary' quest.slug %}">{{ quest.name }}</a></td>
            <td>{{ quest.user.username }}</td>
            <td>{{ quest.weight }}</td>
            <td>{{ quest.author_weight }}</td>
        </tr>
    {% empty %}
        <tr>
            <td></td>
            <td>No questionnaires yet</td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
