{% extends "base.html" %}

{% block body_block %}

    <h3>Fill in title, unique identifier which is called "slug" and questions you'd like people to answer</h3>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" />
        </form>
{% endblock %}
