{% extends "base.html" %}

{% block body_block %}

    <h3>Fill in question and possible answers</h3>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save and add one more (or don't.. as you wish)" />
        </form>
{% endblock %}
