{% extends "base.html" %}

{% block body_block %}
    <h3>Welcome to questionnaire {{ object.name }} </h3>

    {% if object.user == user %}
        <a href="{% url 'new_question' user=user slug=object.slug %}">Add new question</a> |
    {% endif %}
    {% if not passed %}
        {% if user.is_authenticated %}
            <a href="{% url 'questionary_next_question' questionary_slug=object.slug %}">Answer questionnaire</a>
        {% else %}
            <a href="{% url 'questionary_browse_next_question' questionary_slug=object.slug number=1 %}">Browse questionnaire</a>
        {% endif %}
    {% endif %}

{% endblock %}
