{% extends "base.html" %}

{% block body_block %}

    {% if form.questionary_answered %}
        This questionnaire have been already answered
    {% else %}
        <h3>Here is a question</h3>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Answer" />
        </form>
    {% endif %}
{% endblock %}
