{% extends "base.html" %}

{% block body_block %}

    <h3>Set weight for user</h3>
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Set weight" />
        </form>
{% endblock %}
