{% extends "base.html" %}

{% block body_block %}
    <h3>Statistics</h3>

    {% if user.username == 'admin' %}
        <table>
        <tr><td>Questionnaires per user</td><td>{{ quests_per_user }}</td></tr>
        <tr><td>Answers per user</td><td>{{ answers_per_user }}</td></tr>
        <tr><td>Answers per questionnaire</td><td>{{ answers_per_quest }}</td></tr>
        </table>
    {% endif %}

    <h3>Questionnaire's popularity</h3>
    <table>
    {% if object_list %}
        <tr><th>Name</th><th>Popularity</th></tr>
    {% endif %}
    {% for quest in object_list %}
        <tr><td>{{ quest.name }}</td><td>{{ quest.popularity }}</td></tr>
    {% empty %}
        <tr>No questionnaires yet</tr>
    {% endfor %}
    </table>
{% endblock %}
