{% extends "base.html" %}

{% block body_block %}
    <h3>This is some user's list. Look in the url.</h3>

    <ul>
    {% for quest in object_list %}
        <li>{{ quest.name }} </li>
    {% empty %}
        <li>No questionnaires yet</li>
    {% endfor %}
    </ul>
{% endblock %}
